version: '3.8'

services:

  microb-api-gateway:
    container_name: microb-api-gateway
    image: microb-apigateway:1.0.0
    ports:
      - "8080:80"
    networks:
      - microb-network
    environment:
      ASPNETCORE_ENVIRONMENT: Development

  microb-identity-api:
    container_name: microb-identity-api
    image: microb-identity:1.0.0
    ports:
      - "8088:80"
    networks:
      - microb-network
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    depends_on:
      microb-users-db:
        condition: service_healthy

  microb-users-db:
    container_name: microb-users-db
    image: postgres:latest
    restart: always
    ports:
      - "15432:5432"
    networks:
      - microb-network
    environment:
      POSTGRES_USER: microb-admin
      POSTGRES_PASSWORD: Qwertyuiop1!
      POSTGRES_DB: users
    volumes:
      - type: bind
        source: ../volumes/database/users
        target: /var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  microb-network:
    name: microb-network
    driver: bridge
